a {
  text-decoration: none;
}


body {
  background: black
}

.tall {
  width: 250px;
  height: 1500px;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  outline: 2px solid white;
}

.tall img{
  height: 250px;
  width: 250px;
}

header div {
  height: 50px;
}

header div p {
  color: white;
  text-align: center;
  font-size: 20px;
  outline: 1px solid white;
  font-family: fantasy;
}

main {
  background: black;
  height: 1500px;
  width: 1000;
  margin-left: 245px;
  margin-top: -20px;
}

main span * {
  color: white;
  font-family: georgia;
  font-weight: bold;
  margin-left: 30px;
}

h1 {
  font-size: 35px;
  margin-top: 30px
}

main span>:nth-child(2){
  font-size: 25px;
  margin-top: -10px;
}

main span>:nth-child(3) {
  font-size: 20px;
  margin-top: -20px;
}

#slideshow {
  width: 755px;
  height: 525px;
  margin-top: 30px;
  margin-left: 30px;
}

#slideshow * {
  color: white;
  font-family: fantasy;
}

#slideshow p {
  font-size: 20px;
}

ul {
  margin : 0px;
  padding: 0px;
}

#master_list > li {
  position: relative;
  height: 230px;
  width: 230px;
  margin: 0px;
  padding: 0px;
  margin-left: 30px;
  display: inline-block;
  margin-top: 30px;
  list-style: none;

}

#master_list > li p {
  position: absolute;
  padding: 0;
  margin: 0;
  outline: none;
  height: 30px;
  width: 100%;
  text-align: center;
  top: 0px;
  font-size: 30px;
  color: white;
}

#master_list > li ul, #master_list > li ol {
  list-style: none;
  text-align: center;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  color: white;
}

#master_list > li ul li, #master_list > li ol li {
  margin-top: 10px;
  font-size: 20px;
  font-family: fantasy;
}

.featured_content {
  width: 755px;
  height: 200px;
  margin-left: 30px;
  margin-top: 30px;
}

.featured_content p {
  color: white;
  font-size: 30px;
}

footer {
  position: static;
  width: 755px;
  height: 200px;
  margin-left: 30px;
  margin-top: 30px;
  outline: 1px solid white;
  color: white;
  text-align: center;
  font-size: 50px;
}
