body {
  background-image: url("http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg");
}

#bar {
  height: 150px;
  width: 100%;
  background: black;
  position: fixed;
  top: 0
}

h1 {
  color: white;
  text-align: center;
  font-family: fantasy;
}

.button {
  color: white;
  border: 2px solid white;
  height: 30px;
  width: 24%;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
}

.button > p {
  font-size: 20px;
  font-family: fantasy;
}

main {
  margin-top: 150px;
  background-image: url("http://www.planwallpaper.com/static/images/elegant-grey-illumination-background-presentations-powerpoint-backgrounds.jpg");
  color: white;
}

main > ul > li {
  font-family: monospace;
  font-size: 20px;
}

main > ol > li {
  font-family: fantasy;
}


img {
  max-width: 25%;
  max-height: 12%;
  display: inline;
  border-radius: 200px;
}
