body {
  color: red;
  background-image: url("http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg");
}

header {
  background-color: #444444;
  font-family: fantasy;
}

button {
  font-size: 15px;
}

header > p {
  font-size: 20px;
  font-style: oblique;
}

main {
  background-image: url("http://www.planwallpaper.com/static/images/elegant-grey-illumination-background-presentations-powerpoint-backgrounds.jpg");
  color: white;
}

main > ul > li {
  font-family: monospace;
  font-size: 20px;
}

main > ol > li {
  font-family: fantasy;
}


img {
  max-width: 25%;
  max-height: 25%;
  display: inline;
}
